// ========= NAVBAR VAR ============
$body-bg: #f4f4f4;
$bgDefault: #e74c3c;
$bgHighlight: #c0392b;
$colDefault: #ecf0f1;
$colHighlight: #ffbbbc;
$dropDown: false;
// ========= HEADER VAR ============
$headerBg: #333;
// ========= BREADCRUMB VAR ============
$breadBg: #ccc;
$breadClr: #333;
$breadLinkClr: #333;